#Data Types and structures assignment questions

##1. What are data structures, and why are they important?
Ans- Data structures a way of organizing, storing, and managing of data so that they can be use efficiently, data structures work as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.

they are important because:-

* Choosing the right data structure significantly impacts the efficiency and performance of your program.

* Well-chosen data structures can:

* Simplify data manipulation (adding, removing, modifying elements)

* Optimize searching and sorting operations

* Conserve memory usage

##2. Explain the difference between mutable and immutable data types with examples.
Ans- 1. Mutable data types Definition: Mutable data types are those whose values can be changed or modified after their creation. This means you can update the content of a mutable object without creating a new object in memory.

Examples: Common mutable data types in Python include:
* Lists: Ordered collections that allow elements to be added, removed, or changed.
* Dictionaries: Unordered collections of key-value pairs, where both keys and values can be modified.
* Sets: Unordered collections of unique elements that allow adding or removing items.
* User-Defined Classes: Depending on how they are defined, instances of user-defined classes can be mutable

2. Immutable data types
Definition: Immutable data types are those whose values cannot be changed after they are created. Any operation that appears to modify an immutable object actually creates a new object with the updated value, leaving the original object untouched.

Examples: Common immutable data types in Python include:
* Numbers: Integers, floats, and complex numbers.
* Strings: Sequences of characters.
* Tuples: Ordered collections of elements (similar to lists but immutable).
* Booleans: True/False values.
* Frozensets: Immutable versions of sets.

##3. What are the main differences between lists and tuples in Python?
ANs- List:-
* list are mutable in nature
* list define using square braket "[ ]"
* Cannot be used as dictionary keys because they are mutable
* consume more memory and generally slower than tuples

tuples:-
* tuples are immutable in nature
* tuples define using parentheses "()"
* Can be used as dictionary keys because they are immutable
* consume less memory and generally faster than list.

##4. Describe how dictionaries store data.
Ans- dictionaries are the data set of unordered collections.
* A dictionary is a collection of key-value pairs.
* Each key is unique and serves as an identifier for its associated value.
* Values can be of any data type, including lists, other dictionaries, or custom objects.
* Keys must be immutable (like strings, numbers, or tuples) and hashable to ensure they have a consistent hash value.

##5. Why might you use a set instead of a list in Python?
  Ans- Because:-
* Sets inherently store only unique elements. If you need a collection where duplicate values are not allowed, a set automatically handles this by preventing the addition of identical items. Lists, conversely, allow duplicates.
* Sets provide built-in methods for common mathematical set operations like union, intersection, difference, and symmetric difference. These operations are highly optimized and simplify code when performing such comparisons between collections.
* If you have a list with duplicate elements and need to obtain a collection of only unique elements, converting the list to a set and then back to a list (if order is not critical) is an efficient way to achieve this.

##6.  What is a string in Python, and how is it different from a list?
Ans- A string can be called as Characters arranged in an unchangeable order. Consider writing a sentence, a paragraph, or a piece of material.

How strings differ from lists:-
* Lists are mutable, meaning their elements can be changed, added, or removed after creation. Strings, on the other hand, are immutable. Once a string is created, its characters cannot be altered. If you need to modify a string, you must create a new string with the desired changes.
* A string is specifically a sequence of characters and a list can contain elements of various data types (integers, strings, floats, even other lists)
* Both lists and strings support indexing and slicing to access elements. However, the specific methods available for manipulation differ. Lists have methods like append(), remove(), and sort() that modify the list in place. Strings offer methods like upper(), lower(), replace(), and split(), which typically return new strings with the modifications instead of changing the original string.

##7. How do tuples ensure data integrity in Python?
Ans- Tuples in Python are a great tool for ensuring data integrity, primarily due to their immutability. Immutability means that once a tuple is created, its elements cannot be changed, added, or removed. This property is crucial for maintaining the integrity of data within your Python programs because:
* Prevents accidental modification
* Encourages predictable behavior
* Supports thread-safety

##8. What is a hash table, and how does it relate to dictionaries in Python?
Ans-A hash table is a data structure that efficiently stores and retrieves data in the form of key-value pairs. It works by using a hash function to transform a given key into an index within an internal array (also called a bucket array). This index then indicates where the corresponding value is stored in the array

Dictionaries build on the hash table concept by introducing the concept of a key-value pairs. The key is used to reference the data being stored. Dictionaries hash the key, or the key-value pair, to provide an index into an underlying hash table.

##9.Can lists contain different data types in Python?
Ans- Yes, lists in Python can contain different data types. This is a key feature that makes them incredibly flexible and versatile.

You can create a single list that holds a combination of:
* Integers
* Floats
* Strings
* Booleans
* Even other data structures like nested lists, tuples, or dictionaries.

##10. Explain why strings are immutable in Python.
Ans- The immutability of strings in Python is a fundamental design choice that contributes to safer, more efficient, and easier-to-reason-about code. While it means you can't modify a string directly, the benefits it provides in terms of data integrity, performance, and thread safety are significant. Instead of modifying existing strings, you create new ones whenever you need a modified version.

##11. What advantages do dictionaries offer over lists for certain tasks?
Ans-  dictionaries and lists are similar in a certain way that they both are unodered and mutable collection of elements and their items can hold various data types like(strings, numbers, boolean values) but the advantages do dictionaries offer over lists for certain tasks is Dictionaries in Python offer fast data retrieval: Unlike lists where you have to traverse through each element to find a value, dictionaries use hash tables for quick access to values based on keys.

##12. Describe a scenario where using a tuple would be preferable over a list.
Ans- If we don't want our data to be changed and prefer it to be read-only, then we should choose the tuple data type over lists. If we know our data will grow or shrink in the future, we need to use the list data type.

##13. How do sets handle duplicate values in Python?
Ans- In Python, sets inherently do not allow duplicate values. They are designed to store unique elements If you attempt to add a duplicate element to a set, it will simply be ignored, and the set will remain unchanged.

##14. How does the “in” keyword work differently for lists and dictionaries?
Ans- When used with a list, the 'in' keyword checks for the presence of a specific element within the list values while on other hand Dictionaries are implemented as hash tables. When you use 'in' with a dictionary, Python calculates a hash value for the target key and then quickly checks if that hash value exists in the dictionary's internal structure.

##15. Can you modify the elements of a tuple? Explain why or why not.
Ans- tuples are immutable sequences there size and elements are cannot be changed we cannot directly modify the elements of a tuple in Python but there is a way firts Convert the tuple to a list, modify the list, and then convert it back to a tuple but these techniques create new tuples rather than modifying the original in-place.

##16. What is a nested dictionary, and give an example of its use case?
Ans- A nested dictionary in Python is a dictionary where the values of the outer dictionary are themselves other dictionaries. This structure allows for representing and organizing hierarchical or multi-layered data.

Let's imagine we want to store information about multiple students in a school, including their name, age, and grade so we take a outer dictionary "school" which has keys like "student1", "student2", and "student3", each representing a student. The value associated with each of these keys is another dictionary containing details about that particular student, such as their name, age, and grade these another dictionaries are representing nested dictionary.

##17. Describe the time complexity of accessing elements in a dictionary.
Ans- Accessing elements in a dictionary (or hash table) typically has a time complexity of O(1) on average. This means that the time it takes to retrieve a value by its key is, on average, constant and doesn't depend on the size of the dictionary. However, in the worst-case scenario (which is rare), the time complexity can be O(n), where n is the number of elements in the dictionary, due to hash collisions

##18.  In what situations are lists preferred over dictionaries?
Ans- Python lists are generally preferred over dictionaries in situations where:

* Ordered Collections: When the order of elements is crucial, lists are the better choice. They maintain the order in which items are added, allowing access by numerical indices.
* Sequential Processing: If you need to iterate through elements and perform operations on them sequentially, lists are highly suitable.
* Indexed Access: When you need efficient access to elements using numerical indices, lists excel with constant-time complexity (O(1)) for retrieving elements by index.
* Sorting Data: Lists have built-in methods for efficient sorting of elements, which is useful when data needs to be sorted in a specific order.

##19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans- dictionaries were considered unordered because they did not guarantee the order in which items were stored or retrieved. This was primarily due to their underlying implementation using hash tables.

The unordered nature of dictionaries means that when you iterate through a dictionary or try to access its elements, you cannot rely on the order in which the key-value pairs were initially added.

##20. Explain the difference between a list and a dictionary in terms of data retrieval.
Ans-
* Lists: Ordered, accessed by integer indices (0, 1, 2...), efficient for ordered data and sequential access.

* Dictionaries: Unordered (in older Python versions), accessed by unique keys (strings, numbers, tuples, etc.), efficient for fast lookups based on unique identifiers.
* Performance: Both offer fast retrieval, but lists are faster for index-based access, while dictionaries are faster for key-based lookups, especially with large datasets.

#Practical Questions

##1. Write a code to create a string with your name and print it.

In [ ]:
string_name = "Roshan Singh"
print(string_name)

Roshan Singh

##2. Write a code to find the length of the string "Hello World".

In [ ]:
string = "Hello World"
len(string)

11

##3.  Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
slice_character = "Python Programming"
slice_character[:3]

'Pyt'

##4. Write a code to convert the string "hello" to uppercase.

In [ ]:
my_string = "hello"
uppercase_string = my_string.upper()
uppercase_string

'HELLO'

##5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
my_string = "I like apple"
updated_string = my_string.replace("apple", "orange")
updated_string

'I like orange'

##6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
my_list = list(range(1,6))
my_list

[1, 2, 3, 4, 5]

##7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
given_list = [1,2,3,4]
given_list.append(10)
given_list

[1, 2, 3, 4, 10]

##8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
given_list = [1,2,3,4,5]
given_list.remove(3)
given_list

[1, 2, 4, 5]

##9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
given_list = ['a','b','c','d']
second_element = given_list[1]
second_element

'b'

##10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10,20,30,40,50]
reverse_list = my_list[::-1]
print(f"original list: {my_list}")
print(f"reverse list: {reverse_list}")

original list: [10, 20, 30, 40, 50]
reverse list: [50, 40, 30, 20, 10]

##11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

##12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

##13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
given_tuple = (10, 20, 5, 15)
minimun_number = min(given_tuple)
minimun_number

5

##14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print(index)

1

##15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits_tuple = ("apple", "mango", "kiwi")
if "kiwi" in fruits_tuple:
  print("kiwi is in given tuple")
else:
  print("kiwi is not in given tuple")

kiwi is in given tuple

##16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a','b','c'}
print(my_set)

{'b', 'c', 'a'}

##17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)

my_set.clear()
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

##18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
given_set = [1,2,3,4]
given_set.remove(4)
given_set

[1, 2, 3]

##19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1,2,3}
set2 = {3,4,5}
union_set = set1 | set2
union_set

{1, 2, 3, 4, 5}

##20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1,2,3}
set2 = {2,3,4}
intersection_set = set1 & set2
intersection_set

{2, 3}

##21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
my_dictionary = {'name':'Roshan','age':'21','city':'Delhi'}
my_dictionary

{'name': 'Roshan', 'age': '21', 'city': 'Delhi'}

##22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
my_dict = {'name': 'John', 'age': 25}

# Add the new key-value pair
my_dict['country'] = 'USA'

print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

##23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
my_dictionary = {'name':'ALice','age':30}
name_value = my_dictionary['name']
name_value

'ALice'

##24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print("Original dictionary:", dict1)

del dict1['age']
print("Dictionary after using del:", dict1)

Original dictionary: {'name': 'Bob', 'age': 22, 'city': 'New York'}
Dictionary after using del: {'name': 'Bob', 'city': 'New York'}

##25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}

if "city" in person.keys():
    print("The key 'city' exists in the dictionary ")
else:
    print("The key 'city' does not exist in the dictionary")

The key 'city' exists in the dictionary

##26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Create a list
my_list = ["apple", "banana", "cherry", 1, 2, 3]

# Create a tuple
my_tuple = ("red", "green", "blue", 10, 20)

# Create a dictionary
my_dictionary = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Print the data structures
print("My List:", my_list)
print("My Tuple:", my_tuple)
print("My Dictionary:", my_dictionary)

My List: ['apple', 'banana', 'cherry', 1, 2, 3]
My Tuple: ('red', 'green', 'blue', 10, 20)
My Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

##27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
print("Original list:", random_numbers)

random_numbers.sort()  # Sort the list in ascending order
print("Sorted list (ascending):", random_numbers)

Original list: [49, 6, 49, 41, 13]
Sorted list (ascending): [6, 13, 41, 49, 49]

##28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

# Access and print the element at the third index
print(fruits[3])

date

##29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'A': 'Geeks', 'B': 'For'}
dict2 = {'B': 'Geeks', 'C': 'Python'}

dict1.update(dict2) # Update dict1 with elements from dict2.

print(dict1)

{'A': 'Geeks', 'B': 'Geeks', 'C': 'Python'}

##30. Write a code to convert a list of strings into a set.

In [ ]:
list_of_strings = ["apple", "banana", "cherry", "apple", "date", "banana"]

# Convert the list to a set
set_of_strings = set(list_of_strings)

print("Original List:", list_of_strings)
print("Converted Set:", set_of_strings)

Original List: ['apple', 'banana', 'cherry', 'apple', 'date', 'banana']
Converted Set: {'cherry', 'date', 'banana', 'apple'}